<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>AngularJS Live Example - jsFiddle demo</title>

    <script type='text/javascript' src='/js/lib/dummy.js'></script>

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/result-light.css">

    <style type='text/css'>


    </style>


    <script type='text/javascript'>//<![CDATA[

    function FormController($scope, $resource) {

        $scope.harp = $resource('harp.json').get();

        $scope.showCookies = function (cookieSource, cookies) {
            $scope.selectedCookies = cookies;
            $scope.showSelectedCookies = true;
            $scope.cookieSource = cookieSource;

        };

        $scope.showHeaders = function (headerSource, headers) {
            $scope.selectedHeaders = headers;
            $scope.showSelectedHeaders = true;
            $scope.headerSource = headerSource;

        };

        $scope.showParams = function (paramSource, params) {
            $scope.selectedParams = params;
            $scope.showSelectedParams = true;
            $scope.paramSource = paramSource;

        };

        $scope.closeCookieOverlay = function () {
            $scope.selectedCookies = [];
            $scope.showSelectedCookies = false;
            $scope.cookieSource = '';
        }

        $scope.closeHeaderOverlay = function () {
            $scope.selectedHeaders = [];
            $scope.showSelectedHeaders = false;
            $scope.headerSource = '';
        }

        $scope.closeParamOverlay = function () {
            $scope.selectedParams = [];
            $scope.showSelectedParams = false;
            $scope.paramSource = '';
        }

        $scope.noCookies = function (header) {
            //return true;
            return header.name != "Cookie";
        };
    }
    $('#basic-modal .basic').click(function (e) {
        $('#basic-modal-content').modal();

        return false;
    });

    //]]>

    </script>
    <!-- Page styles -->
    <link type='text/css' href='css/demo.css' rel='stylesheet' media='screen'/>

    <!-- Contact Form CSS files -->
    <link type='text/css' href='css/basic.css' rel='stylesheet' media='screen'/>

</head>
<body>
<script src="http://docs-next.angularjs.org/angular-1.0.0rc2.min.js"></script>
<div ng:app>
    <div ng-controller="FormController" class="example">

        <table border="1">
            <tr>
                <th></th>
                <th></th>
                <th colspan="3">req</th>
                <th colspan="3">resp</th>
            </tr>
            <tr>
                <th>started</th>
                <th>duration</th>
                <th>cookies</th>
                <th>headers</th>
                <th>params</th>
                <th>status</th>
                <th>cookies</th>
                <th>headers</th>
            </tr>
            <tr ng-repeat="entry in harp.log.entries">
                <td>{{entry.startedDateTime | date:'mediumTime'}}</td>
                <td>{{entry.time}}</td>
                <td ng-click="showCookies('Request', entry.request.cookies)">{{entry.request.cookies.length}}</td>
                <td ng-click="showHeaders('Request', entry.request.headers)">{{entry.request.headers.length}}</td>
                <td ng-click="showParams('Request', entry.request.queryString)">{{entry.request.queryString.length}}</td>
                <td>{{entry.response.status}}</td>
                <td ng-click="showCookies('Response', entry.response.cookies)">{{entry.response.cookies.length}}</td>
                <td ng-click="showHeaders('Response', entry.response.headers)">{{entry.response.headers.length}}</td>
            </tr>
        </table>
        <hr/>

        <div ng-show="showSelectedCookies">
            Debug View: <pre>Cookies: {{selectedCookies}}</pre>
        </div>
        <div ng-show="showSelectedHeaders">
            Debug View: <pre>Headers: {{selectedHeaders}}</pre>
        </div>
        <div ng-show="showSelectedParams">
            Debug View: <pre>Params: {{selectedParams}}</pre>
        </div>

        <div ng-show="showSelectedCookies">
            <div style="opacity: 0.5; position: fixed; left: 0px; top: 0px; z-index: 1001;"
                 class="simplemodal-overlay" id="cookie-overlay"></div>
            <div style="position: fixed; z-index: 1002; left: 404px; top: 188.5px;"
                 class="simplemodal-container" id="cookie-container">
                <a class="modalCloseImg simplemodal-close" title="Close" ng-click="closeCookieOverlay()"></a>

                <div style="height: 100%; outline: 0px none; width: 100%; overflow: auto;" class="simplemodal-wrap"
                     tabindex="-1">
                    <div style="display: block;" class="simplemodal-data" id="basic-cookie-content">
                        <table border="1">
                            <tr>
                                <th colspan="2">{{cookieSource}} Cookies</th>
                            </tr>
                            <tr>
                                <th>name</th>
                                <th>value</th>
                            </tr>
                            <tr ng-repeat="cookie in selectedCookies">
                                <td>{{cookie.name}}</td>
                                <td>{{cookie.value}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="showSelectedHeaders">
            <div style="opacity: 0.5; position: fixed; left: 0px; top: 0px; z-index: 1011;"
                 class="simplemodal-overlay" id="header-overlay"></div>
            <div style="position: fixed; z-index: 1012; left: 404px; top: 188.5px;"
                 class="simplemodal-container" id="header-container">
                <a class="modalCloseImg simplemodal-close" title="Close" ng-click="closeHeaderOverlay()"></a>

                <div style="height: 100%; outline: 0px none; width: 100%; overflow: auto;" class="simplemodal-wrap"
                     tabindex="-1">
                    <div style="display: block;" class="simplemodal-data" id="basic-header-content">
                        <table border="1">
                            <tr>
                                <th colspan="2">{{headerSource}} Headers</th>
                            </tr>
                            <tr>
                                <th>name</th>
                                <th>value</th>
                            </tr>
                            <tr ng-repeat="header in selectedHeaders | filter:noCookies">
                                <td>{{header.name}}</td>
                                <td>{{header.value}}</td>
                            </tr>
                        </table>

                    </div>
                </div>

            </div>

        </div>

        <div ng-show="showSelectedParams">
            <div style="opacity: 0.5; position: fixed; left: 0px; top: 0px; z-index: 1021;"
                 class="simplemodal-overlay" id="param-overlay"></div>
            <div style="position: fixed; z-index: 1022; left: 404px; top: 188.5px;"
                 class="simplemodal-container" id="param-container">
                <a class="modalCloseImg simplemodal-close" title="Close" ng-click="closeParamOverlay()"></a>

                <div style="height: 100%; outline: 0px none; width: 100%; overflow: auto;" class="simplemodal-wrap"
                     tabindex="-1">
                    <div style="display: block;" class="simplemodal-data" id="basic-param-content">
                        <table border="1">
                            <tr>
                                <th colspan="2">{{paramSource}} Parameters</th>
                            </tr>
                            <tr>
                                <th>name</th>
                                <th>value</th>
                            </tr>
                            <tr ng-repeat="param in selectedParams">
                                <td>{{param.name}}</td>
                                <td>{{param.value}}</td>
                            </tr>
                        </table>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


</body>


</html>

